body{
    color: white;
    background-color: #171a2b;
}
.bar{
    top: 10px;
    position: fixed;
    z-index: 999;
    display: block;
    justify-content: center;
    padding-right: 20px;
    margin-left: 33.3%;
}
.bar li{
    display: inline-block;
    margin-right: 10px;
    padding-top: 7px; 
}
a{
    text-decoration: none;
    padding: 10px;
    color: white; 
}
.bar a{
    font-size: 20px;
}
.home-button{
    background: #374171;
    font-size: 12px;
    width: 120px;
    border-radius: 20px;
    border: 2px solid #778df0;
    margin-right: 20px;
}
a:hover{
    opacity: 0.5;
}
main{
    margin-top: 200px;
    flex-direction: column;
    margin-left: 20px;
    padding-left: 20rem;
}
div{
    display: block;
}
#home{
    margin-bottom: 50px ;
}
.josefin-sans{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 619;
    font-style: normal;
  }
footer{
    padding-top: 20px;
    background: #0c0e18;
    border-top: 2px solid #ffff;
}
footer b{
    text-decoration: underline;
}